<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <title>Mamar Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1;
        }
    </style>
</head>
<body class="bg-indigo-600">
    {% include 'navbar.html' %}
    <div class="content lg:container lg:mx-auto">
        {% include 'messages.html' %}
        {% block body %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
